$yellow: #F5C511;
$primary: #0a138d;
$radius: 8px;

$padding: 28px;
$mt: 40px;
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: white;
  font-size: 13px;
}
li{
  list-style: none;
}
input, button, select{
  &:focus{
    outline: none;
  }
}
.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
button{
  text-transform: none!important;
}
.font-sans{
  font-family: 'Open sans', sans-serif;
}
.expendable--title{
  button{
    font-size: 12px;
    color: black;
    font-weight: 400;
  }
}

@font-face {
  font-family: kaushanscript;
  src: url('/fonts/KaushanScript-Regular.ttf');
}

@font-face {
  font-family: 'Product Sans Medium Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Medium Regular'), url('/fonts/ProductSans-Medium.woff') format('woff');
}

#my-dialog{
  max-width: 500px;
  margin: auto;
  overflow: hidden;
  @media screen and (max-width: 615px) {
    max-width: 90%;
  }
}
.dialog-header{
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 $padding 0 $padding;
  background: #e4b727;
  border-bottom: 2px solid $primary;
  span{
    color: $primary;
    font-size: 26px;
    font-family: kaushanscript,sans-serif;
  }
}
.v-dialog:not(.v-dialog--fullscreen) {
  display: flex;
}

/** Profil scss**/
#not-found{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 33.33%;
  margin: auto;
  padding-top: 34px;
  img{
    max-width: 100%;
  }
  p{
    margin: 14px 0;
    color: rgba(0, 0, 0, 0.87);
  }
}

/** Carroussel **/

$timer: .9s;
$pduration: 1.6s;
$opacityS: 0;
$sup: 3s;
$inf: 1.5s;

.slide-right-enter-active {
  animation: slideRightIn $timer ease-out;
  position: absolute;
  top: 0;
  left: 0;
}
.slide-right-leave-active {
  animation: slideRightOut $timer ease-in;
}

.fade-right-enter-active{
  animation: fadeIn $sup;
  position: absolute;
}
.fade-right-leave-active{
  animation: fadeOut $inf;
  position: absolute;
  p{
    visibility: hidden;
  }
}
.fade-left-enter-active{
  animation: fadeIn $sup;
  position: absolute;
}
.fade-left-leave-active{
  animation: fadeOut $inf;
}
@keyframes slideRightIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideRightOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.slide-left-enter-active {
  animation: slideLeftIn $timer ease-out;
}
.slide-left-leave-active {
  animation: slideLeftOut $timer ease-in;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
}
@keyframes slideLeftIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideLeftOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
.animePLeft{
  animation: animePLeft $pduration;
}
@keyframes animePLeft {
  from {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.animePRight{
  animation: animePRight $pduration;
}
@keyframes animePRight {
  from {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.animePBottom{
  animation: animePBottom $pduration;
}
@keyframes animePBottom {
  from {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.animePTop{
  animation: animePTop $pduration;
}
@keyframes animePTop {
  from {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.animePZ1{
  animation: animePZ1 $pduration;
}
@keyframes animePZ1 {
  from {
    opacity: 0;
    transform: translate3d(0, 0, 100px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeIn {
  from{
    opacity: $opacityS;
  }
  to{
    opacity: 1;
  }
}
@keyframes fadeOut {
  from{
    opacity: 1;
  }
  to{
    opacity: $opacityS;
  }
}

/** HOME **/
.home-title{
  font-size: 15px;
}
 /** Carousel ***/

.carousel__next,.carousel__prev {
  position:absolute;
  width:40px;
  height:40px;
  background:#fff url(https://www.grafikart.fr/demo/JS/Carousel/4beb4317ebb605abb3096d9a1b5dbde4.svg) center center no-repeat;
  background-size:20px 20px;
  border-radius:50%;
  top:50%;
  margin-top:-20px;
  right: -20px;
  box-shadow:0 15px 35px #3232321a,0 5px 15px #0000001a;
  cursor:pointer;
  transition:transform .3s,opacity .3s
}
.carousel__next:hover,.carousel__prev:hover {
  transform:scale(1.2)
}
.carousel__prev {
  background-image:url(https://www.grafikart.fr/demo/JS/Carousel/34e24e9b7204d9bc7367d0d520ca4157.svg);
  right:auto;
  left:-20px;
}
.carousel__next--hidden,.carousel__prev--hidden {
  display: none;
}
.carousel{
  transition:transform .3s;
  transform:translateZ(0);
}
.carousel__container{
  display: flex;
}
.carousel-content{
  margin: auto;
}
