$yellow: #F5C511;
$primary: #0a138d;
$radius: 8px;

$padding: 28px;
$mt: 40px;
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: white;
  font-size: 13px;
}
li{
  list-style: none;
}
input, button, select{
  &:focus{
    outline: none;
  }
}
.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.border{
  border: 1px solid red;
}
button{
  text-transform: none!important;
}
.font-sans{
  font-family: 'Open sans', sans-serif;
}
.expendable--title{
  button{
    font-size: 12px;
    color: black;
    font-weight: 400;
  }
}
#my-dialog{
  max-width: 500px;
  margin: auto;
  overflow: hidden;
  @media screen and (max-width: 615px) {
    max-width: 90%;
  }
}
.dialog-header{
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 $padding 0 $padding;
  background: #e4b727;
  border-bottom: 2px solid $primary;
  span{
    color: $primary;
    font-size: 26px;
    font-family: kaushanscript,sans-serif;
  }
}
.v-dialog:not(.v-dialog--fullscreen) {
  display: flex;
}

/** Profil scss**/
#not-found{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 33.33%;
  margin: auto;
  padding-top: 34px;
  img{
    max-width: 100%;
  }
  p{
    margin: 14px 0;
    color: rgba(0, 0, 0, 0.87);
  }
}

/** Carroussel **/

$timer: .9s;
$pduration: 1.6s;
$opacityS: 0;
$sup: 3s;
$inf: 1.5s;

.slide-right-enter-active {
  animation: slideRightIn $timer ease-out;
  position: absolute;
  top: 0;
  left: 0;
}
.slide-right-leave-active {
  animation: slideRightOut $timer ease-in;
}

.fade-right-enter-active{
  animation: fadeIn $sup;
  position: absolute;
}
.fade-right-leave-active{
  animation: fadeOut $inf;
  position: absolute;
  p{
    visibility: hidden;
  }
}
.fade-left-enter-active{
  animation: fadeIn $sup;
  position: absolute;
}
.fade-left-leave-active{
  animation: fadeOut $inf;
}
@keyframes slideRightIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideRightOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.slide-left-enter-active {
  animation: slideLeftIn $timer ease-out;
}
.slide-left-leave-active {
  animation: slideLeftOut $timer ease-in;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
}
@keyframes slideLeftIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideLeftOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
.animePLeft{
  animation: animePLeft $pduration;
}
@keyframes animePLeft {
  from {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.animePRight{
  animation: animePRight $pduration;
}
@keyframes animePRight {
  from {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.animePBottom{
  animation: animePBottom $pduration;
}
@keyframes animePBottom {
  from {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.animePTop{
  animation: animePTop $pduration;
}
@keyframes animePTop {
  from {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.animePZ1{
  animation: animePZ1 $pduration;
}
@keyframes animePZ1 {
  from {
    opacity: 0;
    transform: translate3d(0, 0, 100px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeIn {
  from{
    opacity: $opacityS;
  }
  to{
    opacity: 1;
  }
}
@keyframes fadeOut {
  from{
    opacity: 1;
  }
  to{
    opacity: $opacityS;
  }
}

/** PULSE ANIMATION **/
$pulse-color: rgba(255,255,255, 0.4);
$pulse-w: 15px;
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba($pulse-color, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 $pulse-w rgba($pulse-color, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba($pulse-color, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba($pulse-color, 0.4);
    box-shadow: 0 0 0 0 rgba($pulse-color, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 $pulse-w rgba($pulse-color, 0);
    box-shadow: 0 0 0 $pulse-w rgba($pulse-color, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba($pulse-color, 0);
    box-shadow: 0 0 0 0 rgba($pulse-color, 0);
  }
}

/** HOME **/
h2{
  font-size: 16px;
}
 /** Carousel ***/

.carousel__next,.carousel__prev {
  position:absolute;
  width:30px;
  height:30px;
  background:#fff url(/arrow/next.png) center center no-repeat;
  background-size:10px 10px;
  border-radius:50%;
  top:50%;
  margin-top:-15px;
  right: -15px;
  box-shadow:0 15px 35px #3232321a,0 5px 15px #0000001a;
  cursor:pointer;
  transition:transform .3s,opacity .3s
}
.carousel__prev {
  transform: rotate(180deg);
  right:auto;
  left:-15px;
}
.carousel__next--hidden,.carousel__prev--hidden {
  display: none;
}
.carousel{
  transition:transform .3s;
  transform:translateZ(0);
}
.carousel__container{
  display: flex;
}
.carousel-content{
  margin: auto;
}

/** SKELETON **/
.skeleton{
  background-color: var(--skeleton, #0000001C);
  position: relative;
  overflow: hidden;
}
.skeleton::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, transparent,
    var(--skeleton, rgba(0,0,0,.06)),
    transparent);
  transform: translateX(-100%);
  animation: waves 1.6s linear .5s infinite;
}
.skeleton-title {
  width: 300px;
  height: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.skeleton-sub-title{
  width: 60%;
  height: 12px;
  border-radius: 12px;
  margin-bottom: 10px;
}
@keyframes waves {
  0% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}


.pulse-btn{
  border: 22px solid $yellow;
  width: 42px;
  height: 42px;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: pulse 2s infinite;
  #profile-btn{
  }
}
